body{
margin:0;
background:#f4f1ea;
background-image:
radial-gradient(rgba(0,0,0,.05) 1px, transparent 1px);
background-size:3px 3px;

display:flex;
justify-content:center;
align-items:center;
height:100vh;

font-family:"Comic Sans MS", cursive;
}

#book{
display:flex;
align-items:center;
gap:20px;
}

#spread{
display:flex;
gap:25px;
transition:.4s ease;
transform-origin:center;
}

.page{
width:320px;
height:460px;
background:#fbf8f2;
padding:15px;

box-shadow:
4px 4px 0 rgba(0,0,0,.4),
inset 0 0 30px rgba(0,0,0,.05);

display:flex;
flex-direction:column;
justify-content:flex-start;

position:relative;
}

.page::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(255,200,200,.07);
pointer-events:none;
}

.photo{
background:white;
padding:10px;
box-shadow:2px 2px #666;
position:relative;
}

.photo::before,
.photo::after{
content:"";
position:absolute;
width:25px;
height:25px;
background:rgba(255,255,200,.8);
top:-10px;
left:-10px;
transform:rotate(-10deg);
}

.photo::after{
left:auto;
right:-10px;
transform:rotate(12deg);
}

.photo img{
width:100%;
height:260px;
object-fit:cover;
}

textarea{
margin-top:12px;
border:none;
background:transparent;
font-family:cursive;
resize:none;
height:90px;
outline:none;
}

button{
background:none;
border:none;
font-size:32px;
cursor:pointer;
}

#musicBtn{
position:fixed;
top:15px;
right:15px;
font-size:22px;
}

